:root {
  --system-ui:
    system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  font-family: var(--system-ui);
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

input,
button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
}

input {
  width: 300px;
  background-color: rgb(255, 247, 247);
  margin-right: 15px;
  margin-bottom: 15px;
}

#errorMsg {
  color: red;
  font-weight: bold;
}

.imgContainer {
  margin-top: 30px;
}

button {
  background-color: burlywood;
  color: white;
  font-weight: bold;
}

button:hover {
  opacity: 0.5;
}
